xsdgedoens/companies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
<xsd:element name="user" minOccurs="1" maxOccurs="10">
    <xsd:element name="company" minOccurs="1" maxOccurs="10">
        <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:integer"/>
                        <xsd:attribute name="name" type="xsd:string"/>
						<xsd:attribute name="sektor" type="xsd:string"/>
						<xsd:attribute name="concact" type="xsd:String"/>
                        <xsd:attribute name="mail" type="xsd:string"/>
						<xsd:attribute name="phone" type="xsd:string"/>
                        <xsd:attribute name="password" type="xsd:string"/>
                        <xsd:attribute name="date" type="xsd:date"/>
        </xsd:complexType>
	</xsd:element>
</xsd:element>               
</xsd:schema>