xsdgedoens/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="accounts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="account" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="users">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="user" minOccurs="1" maxOccurs="10">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="genre" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:attribute name="id" type="xsd:string"/>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:integer"/>
                        <xsd:attribute name="name" type="xsd:string"/>
                        <xsd:attribute name="mail" type="xsd:string"/>
                        <xsd:attribute name="age" type="xsd:integer"/>
                        <xsd:attribute name="password" type="xsd:string"/>
                        <xsd:attribute name="date" type="xsd:date"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>